.buttonsInOption {
    display: flex;
    flex-direction: column;
    margin-top: 133px;
}

.button{
    width: 328px;
    height: 79px;
    background-color: #8BC0CF;
    margin-left: 16px;
    margin-bottom: 22px;
    border-radius: 15px;
}